@model Sklad.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

    </dl>
    <h4>Product</h4>


    <table class="table">
        <tr>

            <th>Название продукта</th>
            <th>Цена</th>
        </tr>

        @foreach (var item in Model.Product)
        {
        <tr>
            <td>
                @item.Mark
            </td>
            <td>
                @item.Price
            </td>
        </tr>
        }

</table>















</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
